body {
  font-family: 'Underdog', cursive;
};

.tx-ft{
  font-family: 'Underdog', cursive;
}

.logo {
  content:url(../logo/logo.png);
  width: 60px;
  height: 60px;
}

.btn {
	margin-right: 9px;
	font-size: 12px;
};
